@import "../../styles/bases";

.wrappingGroup {
  display: flex;
  flex-wrap: wrap;
  margin-top: -$TinySpacingUnit;
  margin-right: -$BaseSpacingUnit;
  margin-bottom: -$TinySpacingUnit;
  margin-left: 0px;
  align-items: center;
  * {
    margin: $TinySpacingUnit $BaseSpacingUnit $TinySpacingUnit 0px;
  }
}
