//--------------------Primary Colors--------------------------------------------
$Mirage: #1E253F;
$CoveoBlue: #004990;
$CoveoOrange: #F58020;

//--------------------Secondary Colors------------------------------------------
$Azure: #0D80EF;
$Anakiwa: #4ED6FF;
$Java: #26E8CC;

//--------------------Color Palette: Primary------------------------------------
$ScienceBlue: #0061C0;
$AzureRadiance: #0D80EF;
$DodgerBlue: #3CA0FF;
$TropicalRainForest: #007766;
$Observatory: #028F7B;
$CaribbeanGreen: #05C3A2;
$Lynch: #5D7289;
$BaliHai: #8097AA;
$Nepal: #94A9BF;
$Heather: #B5C4CF;
$Tango: #E56613;
$NeonCarrot: #FF9844;
$TanHide: #F8AA69;

//--------------------Grey Palette----------------------------------------------
$OxfordBlue: #313A45;
$Grey10: #37424E;
$Grey9: #4E5F71;
$Grey8: #5D7289;
$Grey7: #8097AA;
$CoveoGrey6: #94A9BF;
$Grey5: #B5C4CF;
$Grey4: #CFD9E0;
$Grey3: #E4EAED;
$Grey2: #EFF3F7;
$Grey1: #F7F8F9;
$White: #FFFFFF;

//--------------------Coveo Partners Colors-------------------------------------
$CoveoForSitecore: #DC291E;
$CoveoForSalesforce: #009DDC;
