@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");

//--------------------Font Family-----------------------------------------------
$BaseFontFamily: Lato, sans-serif;

//--------------------Font Sizes------------------------------------------------
$BaseFontSize: 16px;
$TinyFontSize: $BaseFontSize * 0.625;
$SmallFontSize: $BaseFontSize * 0.875;
$MediumFontSize: $BaseFontSize * 1.125;
$LargeFontSize: $BaseFontSize * 2;
$HugeFontSize: $BaseFontSize * 2.5;

//-------------------- Font Weights---------------------------------------------
$HairlineFontWeight: 100;
// $ThinFontWeight: 200;
$LightFontWeight: 300;
$RegularFontWeight: 400;
// $MediumFontWeight: 500;
// $SemiboldFontWeight: 600;
$BoldFontWeight: 700;
// $HeavyFontWeight: 800;
// s$BlackFontWeight: 900;
